

.top-bar {
    width: 100%;
    background:#ffffff;
    border-bottom: .5px solid black;
    
}


.top-bar .top-bar-right {
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            margin-top: 20px;
        margin-left: auto; } }

.menu-social {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      

     
body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Helvetica', sans-serif;
    font-style:normal;
    font-weight: normal;
    line-height: 1.5;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    

}

.off-canvas {
  position: fixed;
  z-index: 12;
  transition: transform 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: #FFFFFF; }
  [data-whatinput='mouse'] .off-canvas {
    outline: 0; }
  .off-canvas.is-transition-push {
    z-index: 12; }
  .off-canvas.is-closed {
    visibility: hidden; }
  .off-canvas.is-transition-overlap {
    z-index: 13; }
    .off-canvas.is-transition-overlap.is-open {
      box-shadow: 0 0 10px rgba(10, 10, 10, 0.7); }
  .off-canvas.is-open {
    -ms-transform: translate(0, 0);
        transform: translate(0, 0); }

.position-top {
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: auto;
  height: 100%;
  -ms-transform: translateY(-250px);
      transform: translateY(-250px); }
  .off-canvas-content .off-canvas.position-top {
    -ms-transform: translateY(-250px);
        transform: translateY(-250px); }
    .off-canvas-content .off-canvas.position-top.is-transition-overlap.is-open {
      -ms-transform: translate(0, 0);
          transform: translate(0, 0); }
  .off-canvas-content.is-open-top.has-transition-push {
    -ms-transform: translateY(250px);
        transform: translateY(250px); }
  .position-top.is-transition-push {
    box-shadow: inset 0 -13px 20px -13px rgba(10, 10, 10, 0.25); }
    
    
footer {
}

a {
  line-height: inherit;
  color: #696969;
  font-family: 'Anton', sans-serif;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:focus {
    color: #000000; }
  a img {
    border: 0; }
.social {
  margin-right: .25rem;
  margin: auto;
  
  
  
}

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #696969;
  color: #fefefe; }
  [data-whatinput='mouse'] .button {
    outline: 0; }
  .button:hover, .button:focus {
    background-color: #000000;
    color: #fefefe; }

.social.facebook {
  background-color: #3b5998;
  color: #fefefe;
}

.social.facebook:hover, .social.facebook:focus {
  background-color: #2f477a;
  color: #fefefe;
}

.social.twitter {
  background-color: #55acee;
  color: #fefefe;
}

.social.twitter:hover, .social.twitter:focus {
  background-color: #1a8fe8;
  color: #fefefe;
}


.social.youtube {
  background-color: #bb0000;
  color: #fefefe;
}

.social.youtube:hover, .social.youtube:focus {
  background-color: #960000;
  color: #fefefe;
}

.social.instagram {
  background-color: #125688;
  color: #fefefe;
}

.social.instagram:hover, .social.instagram:focus {
  background-color: #0e456d;
  color: #fefefe;
}








.social > .fa {
  color: #fefefe;
  margin-right: .25rem;
}

h1-title {
	font-family: 'Anton', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: inherit;
  letter-spacing: 3px;
  font-size: 25px;
  text-rendering: optimizeLegibility;
  margin-top: 0;
    

  margin-bottom: 0.5rem;
  line-height: 1.4; }
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Anton', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: inherit;
  letter-spacing: 3px;
  font-size: 25px;
  text-rendering: optimizeLegibility;
  margin-top: 0;
    

  margin-bottom: 0.5rem;
  line-height: 1.4; }
  

.off-canvas position-left {
	background:#;
}


/* Demo Styles */

.demo-toggle-title {
    margin-top: 0.5rem;


.menu .active {
    font-weight: bold;
}




.marketing-site-footer {
  background: #2c3840;
  color: #8aa0ae;
  padding: 2rem 0 0;
}

.marketing-site-footer .marketing-site-footer-menu-social a {
  color: #fefefe;
}

.marketing-site-footer .column-block {
  margin-bottom: 30px;
}

.marketing-site-footer > .row {
  margin-bottom: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .marketing-site-footer .columns {
    margin-bottom: 2rem;
  }
}

.marketing-site-footer-name {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.marketing-site-footer-title {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.marketing-site-footer-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.marketing-site-footer-block .fa {
  font-size: 2rem;
  color: #020304;
}

.marketing-site-footer-block p {
  margin-left: 1rem;
  line-height: 1.125rem;
}

.marketing-site-footer-bottom {
  background: #020304;
  padding: 1rem 0;
}

.marketing-site-footer-bottom p,
.marketing-site-footer-bottom .menu {
  margin-bottom: 0;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
  color: #8aa0ae;
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom {
    text-align: center;
  }
}


