{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}
{% load i18n cms_tags apphooks_config_tags %}
{% load social_widgets %}

	
<article class="article
    {% if article.is_featured %} featured{% endif %}
    {% if not article.published %} unpublished{% endif %}">
	
        {% if not detail_view %}
        
        <div class="cell large-8">
        	<br>
        	<div class="">

	<p> <img src="{% thumbnail article.featured_image 900x450 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}"></p>
	<br>
	<h1><a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article "title" %}	</a></h1>
	<br>

 {% render_model article "lead_in" "" "" "striptags" %}
 <br>
 <br>

</div>
<br>
<div class="grid-x marging-x large-up-2 large-offset- ">
<div class="cell  ">


<a href="https://www.facebook.com/sharer/sharer.php?u=http://CodingForEntrepreneurs.com/">
<img src="https://s3-us-west-1.amazonaws.com/lostkawzlifestyle/images/fbc.png" alt="logo" style="width:20px;height:20px;">
</a>

<a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20http://codingforentrepreneurs.com/">
				<img src="https://s3-us-west-1.amazonaws.com/lostkawzlifestyle/images/twtc.png" alt="logo" style="width:20px;height:20px;"></a> 
</a>

  </div>   
  </div>      
            	<h7> 
          	
       
       
        {% else %}
           
        {% endif %}
    </h7>
            </div>	


          
    {# The image is only shown on the detail view by using the condition "and detail_view" #}


    {% if article.categories.exists %}
        <p>
            {% for category in article.categories.all %}
                <a href="{% namespace_url 'article-list-by-category' category.slug namespace=namespace default='' %}">{{ category.name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}


    

  

    {% if article.tags %}
        <p>
            {% for tag in article.tags.all %}
                <a href="{% namespace_url 'article-list-by-tag' tag=tag.slug namespace=namespace default='' %}">{{ tag.name }}</a>
            {% endfor %}
        </p>
    {% endif %}

    

    {% if detail_view %}
    <br>
    <hr> 
        
    {% endif %}
    
    
 
</article>

