{% load staticfiles i18n cms_tags menu_tags sekizai_tags %}
{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

{% load cms_tags %}
<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% page_attribute page_title %} - {{ request.site.name }}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
   	<link rel="stylesheet" href="{% static 'css/app.css' %}">
   	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   	<script src="{% static 'js/vendor/jquery.js' %}"></script>
	<script src="{% static 'js/vendor/what-input.js' %}"></script>
    
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
   
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    {% render_block "css" %}
    {{ ALDRYN_SNAKE.render_head }}
</head>
{% cms_toolbar %}
<body>

<div class="off-canvas position-top " id="offCanvas"   data-off-canvas> 
	  <button class="close-button" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
	<br>
	<div class="grid-container">
    {% show_menu 0 100 100 100  %}
    </div>
    <br>
    <footer class="">
	<div class="grid-container">
  <div class="grid-x grid-margin-x  ">
 
   
    <div class=" cell large-4">
      <p class="marketing-site-footer-title">Subscribe for the lateset Updates</h4\>
     
       <br>
       
     {% static_placeholder "subscribe" %}
     
        
     
    </div>
  </div>
    </div>
  <div class="marketing-site-footer-bottom">
  	<div class="grid-container">
  		<div class="grid-x">
   
      
      
   
      </div>
  </div>
  
  </div>
</footer>
    

    <!-- Menu -->
</div>
        


 <div class="off-canvas-content" data-off-canvas-content>  
         	{% show_menu 0 100 100 100 "menu.html" %}   
             
            {% block content %}
            
            {% endblock content %}
      	
   </div>    	
    	
            
      
 
  



	  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

    <script src="{% static 'js/vendor/foundation.js' %}"></script>
    
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/cbpGridGallery.js' %}"></script>
    <script>
			new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
		</script>
    {% render_block "js" %}
    {{ ALDRYN_SNAKE.render_tail }}
    
 
<footer class="marketing-site-footer">
	<div class="grid-container">
		 <hr> 
		 <br>
  <div class="grid-x grid-margin-x  ">
 
    <div class=" cell large-8 ">
    	<br>
    	<br>
   <ul class="menu marketing-site-footer-bottom-links">
          <li><a href="http://127.0.0.1:8000">Home</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Artists</a></li>
          <li><a href="#">Gallery</a></li>
          
        </ul>




    </div>
    <div class=" cell large-4">
      <h4>Sign Up</h4>
     
       
       
     {% static_placeholder "subscribe" %}
     
        
     
    </div>
  </div>
    </div>
    <hr>
  <div class="marketing-site-footer-bottom">
  	<div class="grid-container">
  		<div class="grid-x large-offset-5">
   
      <div class="cell large-6">
        <p>&copy; 2018 Lostkawzlifestyle </p>
      </div>
      
      <div class="cell large-6">
     
      </div>
      </div>
  </div>
  
  </div>
</footer>


</body>


  {% static_placeholder "footer" %}

</html>
