{% load menu_tags %}


	<div data-sticky-container>
		<div id="siteNavStickyWrap" class="sticky" data-sticky data-sticky-on="small" data-anchor="siteContainer" data-margin-top="0">
			<div class="title-bar" data-sticky data-responsive-toggle="responsive-menu" data-hide-for="medium">
		
  				<button class="menu-icon" type="button" data-toggle="offCanvas"></button>
  					<div class="title-bar-title" data-sticky>lostkawz</div>
			</div>
	<div class="grid-container">
    	<div class="top-bar" data-sticky data-margin-top="0" id="responsive-menu">
    		<div class="logo-wrapper logo-wrapper-small hide-for-small-only">
    			<div class="logo logo-small">
    				
     				<a href="http://lostkawz.com">
     					<img src="https://s3-us-west-1.amazonaws.com/lostkawzlifestyle/static/images/lklogoblk.jpg" alt="logo" style="width:150px;height:150px;"></a> 
    			</div>
  			</div>
  		

        <div class="top-bar-right ">
        		<a href="https://www.facebook.com/lostkawzlifestyle/">
					<img src="https://s3-us-west-1.amazonaws.com/lostkawzlifestyle/images/fbc.png" alt="logo" style="width:20px;height:20px;"></a> 
				</a>
				
				<img src="https://s3-us-west-1.amazonaws.com/lostkawzlifestyle/images/twtc.png" alt="logo" style="width:20px;height:20px;"></a> 
				<img src="https://s3-us-west-1.amazonaws.com/lostkawzlifestyle/images/ytc.png" alt="logo" style="width:20px;height:20px;"></a> 

            	<ul class="menu">
                <li >
{% for child in children %}


<li class="child{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
	{% if child.children %}

		<div class="button">{% show_menu from_level to_level extra_inactive extra_active template "" "" child %}</div>
	
 
	{% endif %}
				</li>
		{% endfor %}
		</div>
                </li>
            		</ul>
        		</div>
       
    			</div>
   			</div>
		</div>
	</div>
           