{% load menu_tags %}

<div data-sticky-container>
    <div class="top-bar" data-sticky data-margin-top="0" id="example-menu">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">AR Contract Glazing</li>
                
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu" data-magellan>
                <li><a href="#first">Home</a></li>
                <li><a href="#second">About</a></li>
                <li><a href="#third">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row demo-toggle-title">
    <div class="columns">
        <div class="grid-container fluid">
        <div class="sections">


                    
