body {
    margin: 0;
    padding: 0;
    background-color: #99c9ff;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #ff0000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    

}


/* Demo Styles */

.demo-toggle-title {
    margin-top: 0.5rem;
}

.top-bar {
    width: 100%;
}

.menu .active {
    font-weight: bold;
}

$white: #fefefe;

/* Demo Styles */
body {
    padding: 2rem 1rem;
}

